<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Allow static files -->
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
    </staticContent>

    <!-- Default page -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- ⚠️ Disable all rewrite and redirect rules -->
    <rewrite>
      <rules>
        <!-- No redirect to HTTPS -->
      </rules>
    </rewrite>

    <!-- Optional compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

  </system.webServer>

  <!-- Also disable any force SSL setting -->
  <system.web>
    <customErrors mode="Off" />
    <httpCookies requireSSL="false" />
    <securityPolicy>
      <trustLevel name="Full" />
    </securityPolicy>
  </system.web>

</configuration>
